<div class="ui card centered" style="width: 70%; margin-bottom: 1em;">
  <div class="content">
    <div class="header">{{wi.title}}</div>
    <div class="meta">
      <span>Arbeitszeit: {{wi.duration_expected}} min</span>
      <span>Zugewiesen an (max): {{wi.assignments.length}} ({{wi.max_assignees}})</span>
    </div>
    {{#if expanded}}
      <div class="ui top right attached label" {{action 'toggleExpanded' on 'onclick'}}><i class="angle down icon"></i></div>
    {{else}}
      <div class="ui top right attached label" {{action 'toggleExpanded' on 'onclick'}}><i class="angle left icon"></i></div>
    {{/if}}

    {{#if expanded}}
      <p style="margin-top: 1em;">{{wi.description}}</p>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th colspan="4">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 20%">Erstellt</td>
            <td colspan="3">Am {{moment-format wi.created_at 'DD.MM.YYYY'}} von {{wi.created_by.display_name}}</td>
          </tr>
          <tr>
            <td>Fällig am</td>
            <td colspan="3">{{moment-format wi.due_at 'DD.MM.YYYY'}}</td>
          </tr>
          <tr>
            <td>Tags</td>
            <td colspan="3">
              {{#each wi.tags as |tag|}}
                <div class="ui tag label" style="margin-bottom: 6px;">{{tag.name}}</div>
              {{/each}}
            </td>
          </tr>
        </tbody>
      </table>
      {{workitem-assignment-table assignments=wi.assignments}}
    {{/if}}
  </div>
</div>